.single-task {
  width: 90%;
  border: 2px solid black;
  margin: 20px auto;
  background-color: blanchedalmond;
}
.single-task h3 {
  display: flex;
  justify-content: space-around;
}
.reminder {
  border-left: 5px solid green;
}
